---
# Default values for metrics-agent.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

nameOverride: ""
fullnameOverride: ""

# apiKey or secretName is REQUIRED.
# You must generate a template to get your apiKey.
# In the Cloudability app, go to Insights -> Containers, then click
# the provisioning cluster button that will take you through our provisioning workflow.
apiKey: ""

# You may also store the apikey in a secret and pull the apikey from there as well.
# name of the secret already stored in k8s containing CLOUDABILITY_API_KEY.
secretName: ""

# clusterName is REQUIRED.
# The cluster name to be used for the cluster the agent runs in.
clusterName: ""
# The interval in seconds to poll metrics.
pollInterval: 180
# The region to upload metrics data to. See README for accepted values
uploadRegion: "us-west-2"

image:
  name: cloudability/metrics-agent
  tag: 2.11.41
  pullPolicy: Always

imagePullSecrets: []

resources:
  requests:
    cpu: ".5"
    memory: "2Gi"
  limits:
    cpu: "1.0"
    memory: "4Gi"

livenessProbe:
  exec:
    command:
      - touch
      - tmp/healthy
  initialDelaySeconds: 120
  periodSeconds: 600
  timeoutSeconds: 5

# serviceAccount.create: true is required
serviceAccount:
  create: true

# rbac.create: true is required
rbac:
  create: true

# For agent configuration options, see https://github.com/cloudability/metrics-agent/blob/master/README.md
extraEnv: []

securityContext:
  runAsUser: 10000

nodeSelector: {}

tolerations: []

affinity: {}

allowPrivilegeEscalation: false

openShift: false

seccompProfile:
  type: RuntimeDefault

volumes: []
# - name: foo
#   secret:
#     secretName: mysecret
#     optional: false

volumeMounts: []
# - name: foo
#   mountPath: "/etc/foo"
#   readOnly: true

# Extra labels to add to the pod only.
podLabels: {}

# Extra labels to add to all resources, including pods.
additionalLabels: {}

# Extra annotations to add to the pod only.
podAnnotations: {}

# when setting readOnlyRootFilesystem to true, the proper volume/volumeMount must be
# configured correctly otherwise the agent will crash
# the following volumes: and volumeMounts: sections below
# will allow the agent to run successfully with readOnlyRootFilesystem set to true
#volumeMounts:
#  - mountPath: /tmp
#    name: tmp
#
#volumes:
#  - emptyDir: {}
#    name: tmp
readOnlyRootFilesystem: false

drop: 
- ALL

# Extra K8s manifests to deploy,
# NOTE: not all various extraObject deployment configurations are tested/supported. When adding extra resources
# to the metrics-agent deployment, Cloudability may not be able to assist in deployment troubleshooting
extraObjects: []
# Example extra manifest
# - apiVersion: external-secrets.io/v1beta1
#   kind: SecretStore
#   metadata:
#     name: aws-store-xxxxx
#     annotations:
#       argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
#       argocd.argoproj.io/sync-wave: "99"
#   spec:
#     provider:
#       aws:
#         service: SecretsManager
#         region: us-west-2
