version: 2.1
orbs:
  snyk: snyk/snyk@0.0.8

jobs:

  snyk_scan:
    docker:
      - image: 'circleci/golang:1.14'
    steps:
      - checkout
      - snyk/scan:
          fail-on-issues: true
          organization: cloudability
          monitor-on-build: true
          severity-threshold: medium


  build:
    docker:
      # CircleCI Go images available at: https://hub.docker.com/r/circleci/golang/
      - image: circleci/golang:1.14

    working_directory: /go/src/github.com/cloudability/metrics-agent

    environment:
      TEST_RESULTS: /tmp/test-results

    steps:
      - checkout

      - run: mkdir -p $TEST_RESULTS

      - run:
          name: Install tools
          command: |
            make install-tools

      - run: 
          name: Lint
          command: make lint
          no_output_timeout: 20m

      - run:
          name: Run Tests
          command: make test

      - setup_remote_docker:
            version: 17.07.0-ce

      - run:
          name: build docker container
          command:  make -e container-build

      - store_test_results:
          path: /tmp/test-results

  test_e2e:
    docker:
      # CircleCI Go images available at: https://hub.docker.com/r/circleci/golang/
      - image: circleci/golang:1.14

    working_directory: /go/src/github.com/cloudability/metrics-agent

    environment:
      TEST_RESULTS: /tmp/test-results

    steps:
      - checkout
      
      - setup_remote_docker:
            version: 17.07.0-ce

      - run:
          name: install kubectl
          command: 
            - >-
              mkdir -p /home/circleci/bin &&
              cd /home/circleci/bin && 
              curl -LO https://storage.googleapis.com/kubernetes-release/release/`curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt`/bin/linux/amd64/kubectl && 
              chmod 755 /home/circleci/bin/kubectl &&
              cd -

      - run:
          name: run e2e tests
          command:  make test-e2e-all

  deploy:
    docker:
      # CircleCI Go images available at: https://hub.docker.com/r/circleci/golang/
      - image: circleci/golang:1.14

    working_directory: /go/src/github.com/cloudability/metrics-agent

    environment:
      TEST_RESULTS: /tmp/test-results

    steps:
      - checkout
      
      - setup_remote_docker:
            version: 17.07.0-ce

      - run:
          name: build docker container
          command:  make -e container-build

      - run:
          name: push to dockerhub
          command: |
            if [ "${CIRCLE_BRANCH}" == "master" ]; then
                docker login -u ${DOCKER_USER} -p ${DOCKER_PASSWORD} 
                make -e dockerhub-push 
            fi

workflows:
  workflow:
    jobs:
      - snyk_scan:
          context: snyk
      - build
      - test_e2e
      - deploy:
          context: metrics-agent-master-build
          filters:
            branches:
              only:
                - master
