apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "metrics-agent.fullname" . }}
  labels:
    {{- include "metrics-agent.labels" . | nindent 4 }}
  namespace: {{ .Values.namespace.name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "metrics-agent.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "metrics-agent.selectorLabels" . | nindent 8 }}
    spec:
    {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      serviceAccountName: {{ include "metrics-agent.serviceAccountName" . }}
      {{- with .Values.securityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.name }}:{{ .Values.image.tag }}"
          securityContext: 
            runAsUser: {{ .Values.securityContext.runAsUser }}
            allowPrivilegeEscalation: {{ .Values.allowPrivilegeEscalation }}
            capabilities:
              drop:
                {{ .Values.drop }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          args:
          - 'kubernetes'
          env:
            - name: "CLOUDABILITY_API_KEY"
              valueFrom:
                secretKeyRef:
                  name: {{- if not .Values.secretName }} {{ include "metrics-agent.fullname" . }} {{- else }} {{ .Values.secretName }} {{- end }}
                  key: CLOUDABILITY_API_KEY
            - name: CLOUDABILITY_CLUSTER_NAME
              value: {{ .Values.clusterName }}
            - name: CLOUDABILITY_POLL_INTERVAL
              value: {{ .Values.pollInterval | quote }}
            {{- if .Values.extraEnv }}
              {{- toYaml .Values.extraEnv | nindent 12 }}
            {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          livenessProbe:
            {{- toYaml .Values.livenessProbe | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
