apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "metrics-agent.fullname" . }}
  labels:
    {{- include "metrics-agent.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "metrics-agent.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "metrics-agent.labels" . | nindent 8 }}
        {{- if .Values.podLabels }}{{ toYaml .Values.podLabels | nindent 8 }}{{- end }}
    { { - with .Values.podAnnotations } }
    annotations:
      { { - toYaml . | nindent 8 } }
    { { - end } }
    spec:
    {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      serviceAccountName: {{ include "metrics-agent.serviceAccountName" . }}
      securityContext: {{- if not .Values.openShift }} {{- toYaml .Values.securityContext | nindent 8 }} {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.name }}:{{ .Values.image.tag }}"
          securityContext:
            runAsUser: {{- if not .Values.openShift }} {{ .Values.securityContext.runAsUser }} {{- end }}
            runAsNonRoot: true
            allowPrivilegeEscalation: {{ .Values.allowPrivilegeEscalation }}
            seccompProfile:
              type: {{ .Values.seccompProfile.type }}
            capabilities:
              drop:
                {{ .Values.drop }}
            readOnlyRootFilesystem: {{ .Values.readOnlyRootFilesystem }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          args:
          - 'kubernetes'
          env:
            - name: "CLOUDABILITY_API_KEY"
              valueFrom:
                secretKeyRef:
                  name: {{- if not .Values.secretName }} {{ include "metrics-agent.fullname" . }} {{- else }} {{ .Values.secretName }} {{- end }}
                  key: CLOUDABILITY_API_KEY
            - name: CLOUDABILITY_CLUSTER_NAME
              value: {{ .Values.clusterName }}
            - name: CLOUDABILITY_POLL_INTERVAL
              value: {{ .Values.pollInterval | quote }}
            {{- if .Values.extraEnv }}
              {{- toYaml .Values.extraEnv | nindent 12 }}
            {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          livenessProbe:
            {{- toYaml .Values.livenessProbe | nindent 12 }}
          {{- with .Values.volumeMounts }}
          volumeMounts:
          {{- toYaml . | nindent 12 }}
          {{- end }}
      {{- with .Values.volumes }}
      volumes:
      {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
